.container{
    background-color: grey;
    height: auto;
    width: auto;
    max-width: 500px;
    margin:auto;
    padding: 20px;
    border: solid 5px;
    border-radius:10px ;
    box-shadow: 10px 5px 5px rgb(0, 0, 0 );
    top: 50%;
    left: 50%;
    text-align: center;
}

#enter_food{
    margin: auto;
    text-align: center;
}

.title{
    background-color: black  ;
    color: white;
    text-align: center;
    width: auto;
    max-width: 200px;
    margin: auto;
    border-radius: 5px;
}

.quantity{
    height: 100px;
    width: 50px;
    background: rgb(203, 203, 203);
    margin-left: auto;
    margin-right:110px;
}

#search_bar{    
    display: none;
}

#enter_food{
    border: solid 1px;
    background-color: rgb(226, 227, 254);
    border-radius: 5px;
}

.list{
    
}