.container,
.shopping-list-container .container,
.shopping-list-container {
    background-color: grey;
    height: auto;
    width: auto;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: solid 5px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.title {
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    margin-right: 10px;
}

.mode-toggle {
    top: 10px;
    right: 10px;
}

.mode-toggle input[type="checkbox"] {
    display: none;
}

.slider {
    width: 40px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.slider::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: url('Images/moon-removebg-preview.png');
    background-size: cover;
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked+.slider::before {
    background-color: rgb(184, 181, 181);
    transform: translateX(20px);
    background-image: url('Images/sun-removebg-preview.png');
 
}

body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode .container {
    background-color: rgb(218, 218, 218);
}

body.light-mode .title {
    background-color: rgb(189, 186, 186);
    color: black;
}

body.light-mode .add-item {
    background-color: lightblue;
}

.mode-toggle .slider {
    display: block;
    margin: auto;
}

#enter_food,
#enter_food_shopping {
    margin-top: 10px;
}

.item-input {
    text-align: center;
    border: solid 1px;
    background-color: rgb(226, 227, 254);
    border-radius: 5px;
    padding: 10px;
}

#search_bar {
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    width: calc(100% - 40px);
    display: none;
}

.all_searches {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(156, 180, 180);
}

#open-nav-bar {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    align-items: center;
    gap: 10px;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 100px;
    box-shadow: 2px 2px 5px;
}

.dropdown:hover .content {
    display: block;
}

#open-nav-bar:hover {
    background-color: grey;
}

.dropdown a:hover {
    background-color: blueviolet;
}

.list {
    text-align: center;
    width: auto;
    border-radius: 10px;
    width: 400px;
    list-style-type: disc;
    background-color: darkgrey;
    height: 350px;
    border: solid 2px;
    overflow: scroll;
}


.mode-toggle .slider {
    display: block;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px; 
}

